
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.info {
    margin-top: 5%;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-top: 30px;
}

section {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #f2f2f2;
}

.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.generate-pdf-btn {
    display: inline-block;
    background-color: #0077be;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .generate-pdf-btn:hover {
    background-color: #005ea6;
    cursor: pointer;
  }
  
  @media print {
    .generate-pdf-btn {
      display: none;
    }
  }
  

footer {
    margin-top: 50px;
    text-align: center;
}
