.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.starx-program {
  font-size: calc(3vw);
  font-weight: bold;
  align-items: center;
}

.home-background {
  background-color: #7bafd4;
}

.survey-card {
  background-color: #027fae;
  justify-content: space-between;
  color: white;
  margin: 0 auto;
  padding: 16px;
  border-radius: 16px;
  height: auto;
  width: 90%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.1) inset;
}

.survey-card h1 {
  font-size: 200%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.survey-card p {
  font-size: 100%;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.survey-card p:hover {
  color: black;
}

.survey-option {
  margin: 16px;
}

.button {
  background-color: #7bb0d5;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  width: 85%;
  height: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  background-color: white;
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.wrapper {
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
